.Rproj.user
.Rhistory
.RData
.Ruserdata
ASV_connect.tsv
Authors.rtf
audaxviator_ani.tsv
bin
bin-emapper.tsv.gz
bin-stats-checkm.tsv
bin-stats.tsv
bin-stats.tsv.gz
coverm.tsv
drilling.Rproj
emapper
eukaryotes
gadm41_SWE_shp
genomes-drep-cpr.csv
gtdbtk.bac120.unrooted.tree
gtdbtk.summary.tsv
keggmapper
keggmapper.tsv
metabolicweight.tsv
prokka
software_versions.yml
taxresult.tsv_tax_per_contig.tsv
.DS_Store
ASV_tax_species.tsv
ASV_table.tsv
drilling_files
