.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
ASV_table.tsv
ASV_tax.tsv
COSC_UBA349_stats.tsv
bin-stats-checkm.tsv
bin_stats.analyze.tsv
coverm.tsv
drilling.Rproj
emapper
fractures.Rmd
genomes-drep-cpr.csv
gtdbtk.ar53.summary.tsv
gtdbtk.bac120.summary.tsv
gtdbtk.cpr.summary.tsv
gtdbtk.summary.tsv
overall_summary.tsv
smd.txt
software_versions.yml
